.playlistCard-container,
.playlistCard-container-dark {
	width: 180px;
	height: auto;
	margin: 15px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	transition: 0.1s ease;
}

.playlistCard-container {
	background-color: rgba(0, 0, 0, 0.2);
}

.playlistCard-container:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

.playlistCard-container-dark {
	background-color: rgba(255, 255, 255, 0.1);
}

.playlistCard-container-dark:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.playlistCard-container img,
.playlistCard-container-dark img {
	width: 100%;
	height: 50%;
	max-height: 100px;
	object-fit: cover;
	cursor: pointer;
	/* margin: 15px; */
}

.playlist-info {
	width: 100%;
	height: 50%;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.playlist-info h3 {
	font-size: 1em;
	margin: 5px 0 0 5px;
}

#username-paragraph {
	margin-top: 0;
}

.playlist-info p {
	font-size: 0.9em;
	margin: 5px;
}

.playlist-card-desc {
	font-size: 0.8em;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.playlist-tags {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.tag,
.tag-dark {
	padding: 5px;
	border-radius: 7px;
	margin-right: 5px;
	font-size: 0.7em;
}

.tag {
	background-color: cadetblue;
}

.tag-dark {
	background-color: #9575cd;
}

.tag:nth-child(1),
.tag-dark:nth-child(1) {
	margin-left: 5px;
}

.username {
	color: cadetblue;
	cursor: pointer;
	margin-right: 2px;
}

.username-dark {
	color: #9575cd;
	cursor: pointer;
	margin-right: 2px;
}

.username:hover,
.username-dark:hover {
	font-size: 1em;
}

.playlist-info h3 {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 511px) {
	.playlistCard-container {
		width: 90%;
	}

	.playlistCard-container-dark {
		width: 90%;
	}

	.playlistCard-container img,
	.playlistCard-container-dark img {
		max-height: 200px;
	}
}
