@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand';
	overflow-x: hidden;
	position: relative;
}

a {
	color: white;
	text-decoration: none;
}

.dark-theme-background {
	background: radial-gradient(#232426, #18191a) fixed center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	right: 0px;
	z-index: -1;
}

.light-theme-background {
	background: radial-gradient(#5fc9d0, #3889a3) fixed center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: -1;
}

.dark-theme {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #ffffff;
}

.light-theme {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #ffffff;
}

.hr-light {
	width: 90%;
	height: 1px;
	border-width: 0px;
	color: white;
	background-color: white;
}

.hr-dark {
	width: 90%;
	height: 1px;
	border-width: 0px;
	color: #673ab7;
	background-color: #673ab7;
}

:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 100px rgb(0, 0, 0, 0.05) inset !important;
	-webkit-text-fill-color: black !important;
	box-shadow: 0 0 0 100px rgb(0, 0, 0, 0.05) inset;
}

.default-btn {
	width: 300px;
}

.MuiButton-root {
	font-size: 1.1rem !important;
	font-weight: 400 !important;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar {
	width: 0px;
	height: 14px;
}

::-webkit-scrollbar-thumb {
	background-color: #f5f5f5 !important;
	border: 2px solid #f5f5f5 !important;
	border-radius: 15px !important;
}
