.home-container {
	min-height: 300px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 50px;
	max-width: 100vw;
}

.home-container-row {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.home-container-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 50%;
	height: 100%;
}

.home-container-column-img {
	width: auto;
	height: 100%;
}

.home-container .home-img {
	height: 50vh;
	min-height: 400px;
}

@media (max-width: 1350px) {
	.home-container .home-img {
		height: 40vh;
		min-height: 400px;
	}

	.home-container {
		margin: 0;
	}

	.home-container-row {
		width: calc(100% - 100px);
		padding: 0 50px;
	}
}

@media (max-width: 1140px) {
	.home-container .home-img {
		height: 35vh;
		min-height: 400px;
	}

	.home-container {
		margin: 0;
	}

	.home-container-row {
		width: calc(100% - 20px);
		padding: 0 5px;
	}
}

@media (max-width: 900px) {
	.home-container-row {
		display: flex;
		flex-direction: column;
	}
	.home-container-column {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.home-container .home-img {
		width: 100%;
		max-height: 30vh;
	}
}
