.routes-form-container {
	font-size: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 50px 5%;
}

.routes-form-container .routes-form-root {
	width: 540px;
}

@media (max-width: 600px) {
	.routes-form-container .routes-form-root {
		width: 90%;
	}
	.routes-form-container {
		padding: 0;
		width: 100%;
	}
}

.routes-form-container .routes-form-root .routes-form-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

p.route-error {
	font-size: 1rem;
}
