.login-container {
	width: 350px;
	margin: 5vh 0 0 15vw;
}

@media (max-width: 767px) {
	.login-container {
		width: 350px;
		max-width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 20px 0;
	}

	.login-root {
		display: flex !important;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.login-form {
		width: 100%;
	}
}
