.suggestions-container {
    width: 100%;
	position: absolute;
	margin-top: 5px;
	border-radius: 5px;
	background-color: white;
    color: black;
	z-index: 2;
	font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.suggestions-container ul {
    width: 100%;
    text-decoration: none;
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggestions-container ul li {
    cursor: pointer;
    padding: 5px;
}

.suggestions-container ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}