.genre-card,
.genre-card-active,
.genre-card-disabled {
	width: 110px;
	height: 110px;
	margin: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.genre-card img,
.genre-card-active img,
.genre-card-disabled img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	transition: 0.2s;
	cursor: pointer;
}

.genre-card img,
.genre-card-disabled img {
	filter: brightness(70%);
}

.genre-card-active img {
	filter: brightness(90%);
}

.genre-card-disabled {
	pointer-events: none;
}

.genre-card-active img {
	border-color: #fff;
	box-shadow: 0 0 1px 5px #fff;
}

.genre-card img:hover {
	scale: 1.1;
}

.genre-name {
	position: absolute;
	z-index: 3;
	font-size: 0.5em;
	pointer-events: none;
	font-weight: 700;
}
