.register-container {
	width: 350px;
	margin: 5vh 0 0 15vw;
}

.register-root {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@media (max-width: 767px) {
	.register-container {
		width: 350px;
		max-width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 0;
	}

	.register-root {
		display: flex !important;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.register-form {
		width: 100%;
	}
}
